# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
expo-env.d.ts.timestamp-*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Desktop.ini

# IDEs / editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders (prebuild)
/ios
/android

# EAS / builds
*.ipa
*.apk
*.aab
*.dSYM.zip
*.dSYM